.leaderboards-container{float:left; width:100%; }
.left-container{float:left; width:495px;}
.right-container{float:left;width:490px; margin-left:10px;}
.head{float:left; width:235px; height:30px; border:1px solid #FFF; background-color:#FFFFFF; border-top-left-radius:9px; border-top-right-radius:9px; margin-left:10px; margin-top:15px;}
.head-title{float:left; text-align:center; font-weight:bold; font-size:20px; width:160px; line-height:30px; text-indent:30px;}
.lboard-area{float:left; width:496px; border-radius:6px; background-color:#EAEAEA; padding-bottom:10px;}
.menu-area{float:left; width:100%; height:58px; background: url(../images/live-score-menu.png) repeat;}
.weekly-menu{float:left; height:40px; margin-left:15px; text-align:center; line-height:35px; font-weight:bold; font-size:12px; padding:0 5px 0 5px;}
.leaderboards-container .menu-area .active{background-color:#F56411; -moz-border-radius:6px 6px 0 0; -webkit-border-radius:6px 6px 0 0; border-radius:6px 6px 0 0; color:#fff;}
.monthly-menu{float:left; width:60px; height:30px; border-top-left-radius:6px; border-top-right-radius:6px; margin-left:10px; text-align:center; line-height:35px; font-weight:bold; font-size:12px;}
.cash-menu{float:left; width:110px; height:25px; margin-left:60px; margin-top:9px; }
.leaderboards-container .cash{float:left; width:100px; height:20px; border:1px solid #CCC;}
.myrank-area{float:left; width:110px; height:30px; margin-left:30px; font-weight:bold; line-height:40px;}
.title{float:left;}
.value{float:left; margin-left:3px;}

.lboard-menu{float:left; width:495px; height:15px; border-bottom:1px solid #CECECE;} 
.leaderboards-container .small{float:left; width:90px; height:17px; text-align:center;}
.leaderboards-container .extra-large{float:left; width:180px; height:17px;}
.leaderboards-container .extra-large img{width:30px; height:30px; margin:10px 0 0 0;}
.leaderboards-container .large{float:left; width:125px; height:17px; text-align:center;}
.leaderboards-container .large-flag{float:left; width:125px; text-indent:10px; text-align:center}
.cash-img{float:left; background:url(../images/cash_icon.png) no-repeat; width:30px; height:30px; margin-left:15px;}
.table-values{float:left; width:99%; height:50px; border-bottom:1px solid #CECECE; line-height:50px; }
.gift-to-won{float:left; width:120px; height:30px; margin-left:10px; text-align:center; line-height:35px; font-weight:bold; font-size:15px;}

.table-values .small{height:40px; color:#484848;}
.table-values .extra-large{height:40px; color:#484848;}
.table-values .large{height:40px; color:#484848;}
.table-values .large-flag{height:40px; color:#484848;}

.right-container .lboard-area{background-color:#FFF;}
.items{float:left; font-weight:bold; width:90px; height:20px; text-align:center; line-height:17px;}
.item-name{float:left; font-weight:bold; width:143px; height:20px; text-align:center; line-height:17px; }
.code{float:left; font-weight:bold; width:50px; height:20px; text-align:center; line-height:17px;}
.availability{float:left; font-weight:bold; width:60px; height:20px; text-align:center; line-height:17px;}
.zccoins{float:left; font-weight:bold; width:70px; height:20px; text-align:center; line-height:17px;}
.getit{float:left; font-weight:bold; width:70px; height:20px; text-align:center; line-height:17px; margin-left:30px;}
#lboard-menu-darkline{border-bottom:1px solid #000; height:20px; background-color:#EAEAEA; }
.gift-values{float:left; width:99%; height:68px; border-bottom:1px solid #CECECE; line-height:25px; border-bottom:1px solid #000;}
#vip-head{width:70px;}
#vip-head-title{width:70px; text-indent:5px;}
.items-value{float:left; font-weight:bold; width:90px; height:67px; text-align:center; line-height:17px; }
.item-name-value{float:left; font-weight:bold; width:143px; height:67px; text-align:center; line-height:17px;line-height:60px; color:#838383;}
.code-value{float:left; font-weight:bold; width:50px; height:67px; text-align:center; line-height:17px; line-height:60px; color:#838383;}
.availability-value{float:left; font-weight:bold; width:60px; height:67px; text-align:center; line-height:17px; line-height:60px; color:#838383;}
.zccoins-value{float:left; font-weight:bold; width:70px; height:67px; text-align:center; line-height:17px; color:#838383;}
.getit-value{float:left; font-weight:bold; width:66px; height:67px; text-align:center; line-height:17px; margin-left:35px;}
.shirt-img{float:left; width:76px; height:60px; margin:3px 0 0 7px; }
.product-img{ width:76px; height:60px;}
.details-button{float:left; width:50px; height:25px; border-radius:3px; margin:20px 0 0 5px; background-color:#9DB728; color:#FEFFFF; line-height:25px; cursor:pointer;}
.icon-img{float:left; background:url(../images/zeal_icons.png) no-repeat; width:22px; height:21px; margin:10px 0 0 25px;}









